*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;

}

nav{
	background-color: white;
	list-style-type: none;
	top: 0;
	position: sticky;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10px;
}

.right-nav{
	float: right;
}

nav .nav, nav .nav-logo{
	display: inline-block;
	margin: .5rem;
}

.tuitt-button{
	font-size: 100%;
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 25px;
	padding: 15px;
}

#bg-image{
	min-height: 40vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.front-bg{
	min-height: 40vh;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
}

.container{
	min-height: 50%;
	text-align: right;
	margin-right: 11%;
	margin-left: 11%;
	padding-bottom: 30px;
}

.title{
	margin-left: auto;
	width: 60%;
	padding-top: 55px;
	padding-bottom: 40px;
}

.subtitle{
	margin-left: auto;
	width: 40%;
	padding-bottom: 40px;}

.apply-button{
	background-color: #c2195b;
	font-size: 100%;
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 25px;
	padding: 15px 35px 15px 35px;
}

.title, .title-2{
	font-size: 2rem;
	font-family: "Zilla Slab", sans-serif;
	font-weight: bold;
}

.intro-description, .prefooter-description{
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	width: 55vw;
}
.intro-description{
	text-align: justify;
}

.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	padding: 70px;
}

.book-button{
	background-color: #336589;
	font-size: 100%;
	color: white;
	font-weight: bold;
	border: 0;
	margin: 10px;
	border-radius: 25px;
	padding: 15px 35px 15px 35px;
}

.intro, .footer{
	padding: 5rem;
}

section>h2, section>p{
	text-align: center;
}

footer{
	text-align: center;
}

footer span{
	padding: 10px;
}